
//color
$color-primary : #C0FF33;
$color-secondary : #A8FFAB;
$color-white: #fff;
$color-black: #000;
$color-light-gray: #f7f7f7;
$color-dark-green: #1e9900 ;
$color-pink: #ffa8a8;
$color-gray:#B0B0B0 ;
$color-red: #f00;

$color-dark-gray:#999 ;
$color-light-orange:#fc9900;
$color-dark-orange:#ff5733;
$color-light-blue:#99cced;
$color-dark-blue:#39f;





//font
$regular-font: 1.6rem;

//grid
$grid-width:114rem;
$horizontal-space: 4rem;
$vertical-space: 4rem;
$vertical-space-small: 2rem;
