.feature-box {
  background-color: rgba($color-white, 0.8);
  padding: 2.5rem;
  text-align: center;
  font-size: 15px;
  box-shadow: 1rem 1rem 4rem rgba($color-black, 0.5);
  transition: all 0.2s;
  &__icon {
    font-size: 6rem;
    margin-bottom: 1.6rem;
    background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)); 
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
  }
  &:hover {
    transform: scale(1.03) translateY(-.2rem);
     box-shadow: 0.5rem 0.5rem 4rem rgba($color-black, 0.5);
  }

  &__text {

  }
}