.story {
  width: 65%;
  margin: 0 auto;
  background-color: rgba($color-white, 0.6);
  box-shadow: 0rem 1rem 4rem rgba($color-black, 0.8);
  padding: 5rem;
  border-radius: .3rem;
  font-size: $regular-font;
  transform: skewX(-8deg);
  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle( 50% at 50% 50%);
    shape-outside: circle( 50% at 50% 50%);
    clip-path: circle( 50% at 50% 50%);
    -webkit-clip-path: circle( 50% at 50% 50%);
    transform: translateX(-2rem) skewX(8deg);
    position: relative;

  }

  &__image {
    height: 100%;
    transform: scale(1.5);
  }

  &__text {
    transform: skewX(8deg);
  }

  &__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: $color-white;
    font-size: 2rem;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .4s;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image {
   transform: scale(1);
    /* Add the blur effect */
  filter: blur(.4rem) brightness(70%);
  -webkit-filter: blur(.3rem) brightness(70%);

  }
}