@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }
