.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-top-large {
  margin-top: 6rem;
}

.u-padding-medium {
  padding: 3rem;
}


