.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0%, 100% 0, 100% 75vh, 0 100%);

  @include respond(phone) {
    clip-path: polygon(0 0%, 100% 0, 100% 85vh, 0 100%);
  }

&__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

&__logo {
  height: 3rem; 

  &:hover {
    animation: rotation 4s; }
  }

&__text-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center; }
}